.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(255, 255, 0);

    .brand{
        display: flex;
        align-items: center;
    
        img{
            width: 80px;
            height: auto;
            margin-right: 10px;
        }
    }
    .brand-name {
        font-size: 3rem;
        font-weight: bold;
        color: rgb(4, 253, 4);
<<<<<<< HEAD
=======
        text-decoration:underline ;
>>>>>>> clase11
    }
        
       
    .categories{
        display:contents;
        padding: 0 10px;
        font-weight: bold;
<<<<<<< HEAD
        color: green        
=======
        color: rgb(4, 253, 4);
>>>>>>> clase11
    }

    .cartwidget{
       display: flex; 
       align-items: center;
       gap: 0.5rem;      
    }

<<<<<<< HEAD
=======
    .category{
        color: rgb(4, 254, 4);
        text-decoration: none;
    }

    .category-active{
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }
        

>>>>>>> clase11
}